#main{
	position: relative;
	text-align: center;
}
#slide-show{
	position: relative;
	overflow: hidden;
	margin: 40px auto;
	width: 96%;
	text-align: left;
}
#pic-wrap{
	width: 2000%;
}
.pic{
	display: inline-block;
	width: 5%;
}
.pic img{
	width: 100%;
	font-size: 0px;
}
.pic-nav{
	position: absolute;
	z-index: 50;
	left: 50%;
	margin-left: -20px;
	bottom: 8px;
	list-style: none;
}
.pic-nav-list{
	display: inline-block;
	width: 10px;
	height: 10px;
	background: #2F0E0B;
	border:1px solid #D23E31;
	border-radius: 50%;
}
#flow-wrap{
	margin: 0 auto 100px;
	width: 95%;
}
#flow-wrap li{
	position: relative;
	display: flex;
	list-style: none;
	transition: all 1s;
	margin-bottom: 2px;
}
.flow-item div{
	display: flex;
	flex:1 1 auto;
	position: relative;
	height: 300px;
	margin: 2px;
	transition: all 1s;
}
.flow-item div img{
	flex:1 1 auto;
	padding:1px;
	height: 100%;
	border-radius: 5px;
}
.flow-item div span{
	position: absolute;
	display: none;
	align-items: center;
	justify-content: center;
	z-index: 1000;
	top:10%;
	left:10%;
	width: 80%;
	height:80%;
	background: blue url(../img/magnifier.png) no-repeat center 25%;
	opacity: 0.5;
	color: #fff;
	border-radius: 5px;
	line-height: 240px;
}
@media only screen and (min-width: 992px){
	#slide-show{
		width: 992px;
	}
	#flow-wrap{
		width: 950px;
	}
}
@media only screen and (min-width: 768px) and (max-width: 992px){
	.flow-item div{
		height: 200px;
	}
}
@media only screen and (max-width: 768px){
	.flow-item div{
		height: 110px;
	}
	.flow-item div span{
		font-size: 12px;
		background-size: 15%;
	}
}